<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Mobile API Reverse Proxy" stopProcessing="true">
          <match url="^(.*)$" />
          <action
            type="Rewrite"
            url="http://localhost:50/{R:1}"
            appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>